@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}


.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

                    
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}

@media all and (max-width: 991px)  {
    .sidebar .nav > li.active-pro{
        position: initial;
    }
}

.countlabel
{
    background: #8a7777;padding: 4px;border-radius: 8px;
}

.dis-box h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    color: #7d7d7d;
    display: inline-block;
}
.dis-box p {
    margin: 10px 0;
    padding: 0;
    font-size: 14px;
    line-height: 25px;
    color: #878787;
}

.dis-box > div {
    margin-top: 15px;
}
.dis-box span {
    float: right;
    margin: 7px 10px;
    color: #24bfec;
    font-weight: 600;
    font-size: 16px;
}
.dis-img-admin img {
    margin-top: 10px;
    border-radius:100px;
}

.mb-14{
    margin-bottom: 14px;
}
/*Custom css*/
.Services-client-cards{
  display: none;
}
.services-box {
    background: linear-gradient(to right, #22c0e6 0%, #12caa7 100%);
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}
.services-box .inner {
    padding: 10px;
}
.services-box .inner h3 {
    margin-top: 0;
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
}
.services-box .icon {
    webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
    width: 90px;
}
.services-box .inner p {
    font-size: 15px;
}
.services-box a.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
}
.services-box:hover .icon {
    font-size: 95px;
}
.Services-client-cards> div:nth-child(6) .services-box,.Services-client-cards> div:nth-child(11) .services-box,.Services-client-cards> div:nth-child(16) .services-box {
    background: linear-gradient(to right, #22c0e6 0%, #12caa7 100%);
}
.Services-client-cards> div:nth-child(2) .services-box, .Services-client-cards> div:nth-child(7) .services-box, .Services-client-cards> div:nth-child(12) .services-box {
    background: linear-gradient(to right, #3366cc 0%, #a93bb5 100%);
}
.Services-client-cards> div:nth-child(3) .services-box, .Services-client-cards> div:nth-child(8) .services-box, .Services-client-cards> div:nth-child(13) .services-box {
    background: linear-gradient(to right, #db4437 0%, #c5489e 100%);
}
.Services-client-cards> div:nth-child(4) .services-box, .Services-client-cards> div:nth-child(9) .services-box, .Services-client-cards> div:nth-child(14) .services-box {
    background: linear-gradient(to right, #0e4f55 0%, #0f8825 100%);
}
.Services-client-cards> div:nth-child(5) .services-box, .Services-client-cards> div:nth-child(10) .services-box, .Services-client-cards> div:nth-child(15) .services-box {
    background: linear-gradient(to right, #77509f 0%, #c4b0d8 100%);
}
.opc-0 {
    opacity: 0;
}
.services-box .icon i {
    display: inline-block;
    width: 100%;
    height: auto;
    font-size: 90%;
}
div.modal-tn {
    background: rgba(0,0,0,.5);
}

div.modal-tn .modal-dialog {
    max-width: 500px;
}
div.modal-tn .modal-content {
    padding: 20px;
    border-radius: 15px;
    background-size: 400% 400%;
    background: #66339a
}
div.modal-tn button.close {
    color: #13caa9;
    outline: none;
    text-shadow: none;
    opacity: 1
}
div.modal-tn .form-logo-wrapper {
    text-align: center;
    padding-bottom: 20px
}
div.modal-tn .quote-form-header {
    text-align: center
}
div.modal-tn p {
    color: #08cf81;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 10px
}
div.modal-tn .input-columns {
    margin: 10px 0
}
div.modal-tn .input-columns input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: none;
}
div.modal-tn .input-columns select {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    height: 38px;
    width: 100%;
    border-radius: 5px;
    outline: none;
    background: #66339a;
    padding: .375rem .75rem
}
div.modal-tn .input-columns input::placeholder,
div.modal-tn textarea::placeholder {
    color: #fff
}
div.modal-tn .input-columns input[type="number"]::-webkit-outer-spin-button,
div.modal-tn .input-columns input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}
div.modal-tn .input-columns input[type="number"] {
    -moz-appearance: textfield
}
div.modal-tn textarea {
    width: 100%;
    height: 100px;
    padding: .375rem .75rem;
    background: transparent;
    border: 1px solid #fff;
    border-radius: .25rem;
    color: #fff;
    resize: none
}
div.modal-tn button.upload-btn {
    border: 1px solid #fff;
    margin-left: 15px;
    border-radius: 50px;
    background: transparent;
    font-size: 16px;
    height: 40px;
    width: 100px;
    color: #fff;
    position: relative;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    outline: none
}
div.modal-tn label.upload-btn {
    border: 1px solid #fff;
    margin-left: 15px;
    border-radius: 50px;
    background: transparent;
    font-size: 16px;
    height: 40px;
    width: 100px;
    color: #fff;
    position: relative;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center
}
div.modal-tn .file_upload {
    display: none
}
div.modal-tn button.quote-button {
    border: 1px solid transparent;
    border-radius: 50px;
    font-size: 16px;
    height: 50px;
    width: 200px;
    display: flex;
    color: #fff;
    background: linear-gradient(to right, #12caa7 0%, #22c0e6 100%);
    justify-content: center;
    align-items: center;
    margin: 5px auto 0 auto;
    position: relative;
    overflow: hidden;
    position: relative;
    transition: all 0.3s;
    font-weight: 600;
    outline: none
}
input[type=range] {
    display: none;
    width: 100%;
}
.datepicker--content {
    display: none;
}